* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eef6ee;
    color: #158415;  /*primery text color  */ /*secondery text color rgb(21 132 21 / 0.7)  */
}
header{
    background-color: #158415;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
h1,h2,h3{
    font-size: larger;
    margin: 1%;
}
.main-post{
    background-color: #f6f3ee91;
    color: rgb(21 132 21 / 0.7);
    margin: 5% 10% 5% 10%;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.main-nav{
    color: #ffffff;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    font: small-caption;
    margin: 0 auto;
    padding: 15px;
}
.header-nav{
    display: flex;
    gap: 30px;
    padding: 10px;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

.nav-act{
    display: flex;
    background-color: #8b228b;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.footer{
    background-color: #158415;
    color: rgba(255, 255, 255, 0.8);
    justify-items: center;
    margin-top : 2re;
    padding: 2rem;
}