* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eef6ee;
    color: #158415;  /*primery text color  */ /*secondery text color rgb(21 132 21 / 0.7)  */
}
header{
    background-color: #158415;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    margin: 1%;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}
button{
    border-radius: 0.5rem;
    border: none;
    background-color: #33cc49;
    color: #000000;
}
button:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.main-post{
    background-color: #ffffff;
    color: rgb(21 132 21 / 0.7);
    margin: 5% 10% 5% 10%;
    padding: 1rem 5rem;
    border-radius: 10px;
}
.main-nav{
    color: #ffffff;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    font: small-caption;
    margin: 0 auto;
    padding: 15px;
}
.header-nav{
    display: flex;
    gap: 30px;
    padding: 10px;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}
.cont_box{
    display: flex;
    padding: 10px;
}
.pref_cont{
    display: none;
}
.pref_button{
    flex-direction: row;
    display: flex;
}
.error{
    color:rgba(204, 4, 4, 0.815);
    border: none;
    margin-top: -5px;
    font-size: 12px;
}
.nav-act{
    display: flex;
    background-color: #8b228b;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.footer{
    background-color: #158415;
    color: rgba(255, 255, 255, 0.8);
    justify-items: center;
    margin-top : 2re;
    padding: 2rem;
}